In [ ]:
import pandas as pd
import glob
import numpy as np
import re
from tqdm.auto import tqdm
import pickle
from pandarallel import pandarallel
import re
import plotly.graph_objects as go

pandarallel.initialize()

In [ ]:
data_in='../data/'

In [ ]:
df=pd.read_csv(data_in+r'categories.csv')

In [4]:
df

,Sl. No,State,District,Assessment Unit Name,Categorization\r\n(OE/Critical/Semicritical\r\n/Safe)
0,1,Andaman & Nicobar Is,N & M Andaman,Porlob island,Safe
1,2,Andaman & Nicobar Is,N & M Andaman,North Passage island,Safe
2,3,Andaman & Nicobar Is,N & M Andaman,Interview island,Safe
3,4,Andaman & Nicobar Is,N & M Andaman,Stewart Island,Safe
4,5,Andaman & Nicobar Is,N & M Andaman,Narcondam island,Safe
...,...,...,...,...,...
6757,6876,WEST BENGAL,UTTAR DINAJPUR,KARANDIGHI,Safe
6758,6877,WEST BENGAL,UTTAR DINAJPUR,KALIAGANJ,Safe
6759,6878,WEST BENGAL,UTTAR DINAJPUR,GOALPOKHAR -II,Safe
6760,6879,WEST BENGAL,UTTAR DINAJPUR,RAIGANJ,Safe
6761,6880,WEST BENGAL,UTTAR DINAJPUR,ITAHAR,Safe

In [5]:
df=df.drop(['Sl. No'],axis=1)

In [6]:
df

,State,District,Assessment Unit Name,Categorization\r\n(OE/Critical/Semicritical\r\n/Safe)
0,Andaman & Nicobar Is,N & M Andaman,Porlob island,Safe
1,Andaman & Nicobar Is,N & M Andaman,North Passage island,Safe
2,Andaman & Nicobar Is,N & M Andaman,Interview island,Safe
3,Andaman & Nicobar Is,N & M Andaman,Stewart Island,Safe
4,Andaman & Nicobar Is,N & M Andaman,Narcondam island,Safe
...,...,...,...,...
6757,WEST BENGAL,UTTAR DINAJPUR,KARANDIGHI,Safe
6758,WEST BENGAL,UTTAR DINAJPUR,KALIAGANJ,Safe
6759,WEST BENGAL,UTTAR DINAJPUR,GOALPOKHAR -II,Safe
6760,WEST BENGAL,UTTAR DINAJPUR,RAIGANJ,Safe
6761,WEST BENGAL,UTTAR DINAJPUR,ITAHAR,Safe

In [7]:
df=df.rename(columns={"State":'state',"District":"district","Assessment Unit  Name": "station",'Categorization\r\n(OE/Critical/Semicritical\r\n/Safe)':'category'}, errors="raise")

In [11]:
for i in df.columns:
    df[i]=df[i].str.lower()

In [13]:
df.to_csv(r'../data/categories.csv',index=False)

In [14]:
df.to_parquet(r'../data/categories.parquet.gzip',compression="gzip",index=False)