In [1]:
import pandas as pd
import glob
import numpy as np
import re
from tqdm.auto import tqdm
import pickle
from pandarallel import pandarallel
import re

pandarallel.initialize()

INFO: Pandarallel will run on 4 workers.
INFO: Pandarallel will use Memory file system to transfer data between the main process and workers.

### state-month-pre-post

In [4]:
# premonsoon: may
# post monsoon=nov

In [2]:
df=pd.read_parquet(r'../data/comp/gw-state-monthly.parquet.gzip')

In [7]:
df.head()

,1994-01,1994-02,1994-03,1994-04,1994-05,1994-06,1994-07,1994-08,1994-09,1994-10,...,2019-10,2019-11,2019-12,2020-01,2020-02,2020-03,2020-04,2020-05,2020-06,2020-07
state,,,,,,,,,,,,,,,,,,,,,
uttarakhand,12.73,None,None,None,18.81,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
assam,4.62,None,None,None,None,None,None,None,None,None,...,4.59,None,None,None,None,2.28,None,None,3.08,None
ladakh,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
goa,5.02,None,None,None,6.65,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
lakshdweep,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [21]:
mnth=[]
for i in range(26):
    mnth.append(4+(12*i))
    mnth.append(10+(12*i))
mnth.append(mnth[-1]+6)

In [22]:
df_pre_post=df.iloc[:,mnth]

In [26]:
df_pre_post.shape

(37, 53)

In [27]:
df = pd.read_excel('/home/sb/dev/Hackathons/sih/sih-raw-data/seasonal-fluctuation-block/( ANDRA PRADESH 2016.xls', sheet_name=1, usecols="B:G", header=1)

In [28]:
df

,State,District,Block,Station,Pre-Monsoon,Post-Monsoon
0,ANDHRA PRADESH,ANANTAPUR,AMADAGUR,Amadagur-GW,13.26,18.13
1,ANDHRA PRADESH,ANANTAPUR,AMADAGUR,Mahammadabad-GW,11.14,12.54
2,ANDHRA PRADESH,ANANTAPUR,AMADAGUR,Pulagampalli-GW,5.46,5.17
3,ANDHRA PRADESH,ANANTAPUR,AMARAPURAM,Gorantla-DW13,7.90,7.67
4,ANDHRA PRADESH,ANANTAPUR,AMARAPURAM,Gorantla-PZ,22.05,20.95
...,...,...,...,...,...,...
1764,ANDHRA PRADESH,Y.S.R.,VEMULA,Tallapallli-GW,9.52,6.43
1765,ANDHRA PRADESH,Y.S.R.,VEMULA,Vemula-GW,12.34,14.32
1766,ANDHRA PRADESH,Y.S.R.,VONTIMITTA,C.Kotha palle-GW,5.10,4.45
1767,ANDHRA PRADESH,Y.S.R.,VONTIMITTA,Mantapampalli-GW,6.66,8.25
1768,ANDHRA PRADESH,Y.S.R.,YERRAGUNTLA,Chilamkur-GW,8.20,9.10

In [30]:
df['Pre-Monsoon'].mean()

10.804284906726963