In [1]:
import pandas as pd
import glob
import numpy as np
import re
from tqdm.auto import tqdm
import pickle
from pandarallel import pandarallel
import re
import plotly.graph_objects as go

pandarallel.initialize()

INFO: Pandarallel will run on 4 workers.
INFO: Pandarallel will use Memory file system to transfer data between the main process and workers.

In [11]:
df = pd.read_parquet("../data/categories.parquet.gzip")

In [12]:
df

                     state        district                 block category
0     andaman & nicobar is   n & m andaman         porlob island     safe
1     andaman & nicobar is   n & m andaman  north passage island     safe
2     andaman & nicobar is   n & m andaman      interview island     safe
3     andaman & nicobar is   n & m andaman        stewart island     safe
4     andaman & nicobar is   n & m andaman      narcondam island     safe
...                    ...             ...                   ...      ...
6757           west bengal  uttar dinajpur            karandighi     safe
6758           west bengal  uttar dinajpur             kaliaganj     safe
6759           west bengal  uttar dinajpur        goalpokhar -ii     safe
6760           west bengal  uttar dinajpur               raiganj     safe
6761           west bengal  uttar dinajpur                itahar     safe

[6762 rows x 4 columns]

In [13]:
df_pre = pd.read_parquet("../data/comp/gw-block-pre-post.parquet.gzip")

In [33]:
df_pre.shape

(5369, 86)

In [26]:
def changed_name(type_v):
    v = list(set(df.loc[:, type_v].values))
    not_found=[]
    for i in list(set(df_pre.loc[:, type_v].values)):
        found = False
        if i in v:
            found = True
        if not found:
            not_found.append(i)
    return not_found

In [27]:
state=changed_name('state')
district=changed_name('district')
block=changed_name('block')

In [28]:
state

['jammu & kashmir',
 'dadra and nagar hav',
 'tamilnadu',
 'jharkhand',
 'andaman & nicobar',
 'daman & diu']

In [32]:
len(district)

108

In [31]:
len(block)

1802

In [ ]:
'https://nominatim.openstreetmap.org/search.php?street=&city=&county=uttar+dinajpur&state=west+bengal&country=india&postalcode=&format=geojson'